<div>
  <h2>Instructions for the Exam:</h2>
  <h4>
  1. Read the Instructions Carefully: Please read all the instructions carefully before beginning the exam.<br><br>
  2. Exam Duration: The total duration of the exam is 60 seconds. You will see a timer on the screen to keep track of the time remaining.<br><br>
  3. No Distractions: Ensure that you are in a quiet environment with minimal distractions during the exam.<br><br>
  4. No External Help: This exam is to be completed independently. Do not seek any external help, refer to study materials, notes, or use any devices.<br><br>
  5. Submit on Time:  The exam will be automatically submitted when the designated time elapses. Make sure to complete all your answers before that time.<br><br>
  6. Answer All Questions: Attempt all the questions. There is no penalty for incorrect answers.<br><br>
  7. Technical Requirements: Make sure that your device meets the technical requirements for taking the exam online.<br><br>
  8. Internet Connectivity: Ensure that you have a stable internet connection to avoid disruptions during the exam.<br><br>
  10. Submission Policy: Once you submit the exam, you cannot change your answers.<br><br>
  11. No Time Extension: No time extensions will be granted, even in case of technical issues.<br><br>
  15. Confirmation: By proceeding with the exam, you confirm that you have read and understood these instructions.<br><br>
  Good luck with your exam! </h4>
</div>
<button (click)="startExam()"> next </button>
