<div class="instructions-container">
  <h2 class="instructions-title">Instructions for the Exam:</h2>
  <div class="instructions-text">
    <p>
      1. Read the Instructions Carefully: Please read all the instructions carefully before beginning the exam.
    </p>
    <p>
      2. Exam Duration: The total duration of the exam is based on each question timing. You will see a timer on the screen to keep track of the time
      remaining.
    </p>
    <p>
      3. No Distractions: Ensure that you are in a quiet environment with minimal distractions during the exam.
    </p>
    <p>
      4. No External Help: This exam is to be completed independently. Do not seek any external help, refer to study materials, notes, or use any
      devices.
    </p>
    <p>
      5. Submit on Time: The exam will be automatically submitted when the designated time elapses. Make sure to complete all your answers before that
      time.
    </p>
    <p>
      6. Answer All Questions: Attempt all the questions. There is no penalty for incorrect answers.
    </p>
    <p>
      7. Technical Requirements: Make sure that your device meets the technical requirements for taking the exam online.
    </p>
    <p>
      8. Internet Connectivity: Ensure that you have a stable internet connection to avoid disruptions during the exam.
    </p>
    <p>
      9. Submission Policy: Once you submit the exam, you cannot change your answers.
    </p>
    <p>
      10. No Time Extension: No time extensions will be granted, even in case of technical issues.
    </p>
    <p>
      11. Confirmation: By proceeding with the exam, you confirm that you have read and understood these instructions.
      Good luck with your exam!
    </p>
  </div>
</div>
<button mat-raised-button color="primary" (click)="startExam()">Next</button>
