<div class="exam-container">
  <div *ngFor="let exam of exams" class="exam-card-container">
    <mat-card class="exam-card">
      <mat-card-header>
        <mat-card-title>{{ exam.exam_title }}</mat-card-title>
        <mat-card-subtitle>{{ exam.category }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h4>Total Marks: {{ exam.total_marks }}</h4>
        <h4>Pass Marks: {{ exam.pass_marks }}</h4>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="startExam(exam.exam_id)">Start</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
