<div>
  <h1>Login</h1>
  <form [formGroup]="loginForm">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Eg:cxy@gmail.com" type="email" formControlName="email" [(ngModel)]="email" />
      <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">Required</mat-error>
      <mat-error *ngIf="loginForm.get('email')?.errors?.['pattern']">Enter valid email</mat-error> </mat-form-field
    ><br />
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password"  [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="password" />
      <mat-icon class="cursor password" matSuffix (click)="hidePassword = !hidePassword">{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      <mat-error *ngIf="loginForm.get('password')?.errors?.['required']">Required</mat-error> </mat-form-field
    ><br />
    <button mat-raised-button [disabled]="!loginForm.valid" (click)="loginUser()">Login</button>
  </form>
  <br />
  <p>Dont have an accout <a routerLink="/app/signup"> register</a></p>
</div>
